.scroll {
  overflow: scroll;
}
.scroll::scrollbar {
  width: 8px;
  margin: 10px;
  height: 0;
}
.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #bbbcc5;
}
.scroll::-webkit-scrollbar {
  width: 8px;
  margin: 10px;
  height: 0;
}
